body{
    font-family: 'Raleway', sans-serif;
    background-image: linear-gradient(292deg,#136a8a,#267871);
    color: white;
    min-width: 320px;
}

canvas{
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
}

#playback{
    position: fixed;
    bottom: 0;
    right: 0;
}

img#logo{
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0.5em;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

a{
    color: white;
    text-decoration: none;
}

header, section, footer{
    text-align: center;
    margin: 2em;
}

h1{
    font-size: 2em;
    font-weight: 700;
    margin-bottom: -0.3em;
}

#now-playing #title{
    font-size: 4em;
    font-weight: 700;
}

@media only screen and (max-width: 900px){
    #now-playing #title{
        font-size: 2em;
        font-weight: 400;
    }
    #now-playing #info{
        color: #9299a2;
        font-size: 1.5em;
        margin: 1em 0;
    }
}

footer{
    text-align: left;
    margin-top: 5em;
    position: absolute;
    bottom: 0;
    left: 0;
}