body{
    font-family: 'Raleway', sans-serif;
    background-image: linear-gradient(292deg,#136a8a,#267871);
    color: white;
    min-width: 320px;
}

a{
    color: white;
    text-decoration: none;
}

header, section, footer{
    text-align: center;
}

h1{
    font-size: 2em;
    font-weight: 700;
    margin-bottom: -0.3em;
}

img#logo{
    max-height: 200px;
    width: auto;
}

#now-playing #title{
    font-size: 4em;
    font-weight: 700;
}

#now-playing #info{
    color: #9299a2;
    font-size: 2em;
    margin: 2em 0;
}

@media only screen and (max-width: 900px){
    #now-playing #title{
        font-size: 2em;
        font-weight: 400;
    }
    #now-playing #info{
        color: #9299a2;
        font-size: 1.5em;
        margin: 1em 0;
    }
}

#links{
    margin: 2em 0;
}

footer{
    margin-top: 5em;
}