{% if superuser %}
    {% if current_song is not none %}
        ⏹ Остановить | callback_data=admin:stop_playing || ▶️ Переключить | callback_data=skip_song
    {% else %}
        ▶️ Запустить | callback_data=skip_song
    {% endif %}
{% else %}
    {% if current_user == me %}
        ⏩ Пропустить песню | callback_data=skip_song
    {% endif %}
{% endif %}
{% if queue_len %}
    📂 Очередь: {{ queue_len | make_caption(['пользовател', 'ь', 'я', 'я', 'я', 'ей']) }} | callback_data=queue:0
{% endif %}
{% for pos in my_songs %}
    #{{ pos }}: {{ my_songs[pos].full_title() }} | callback_data=song:{{ my_songs[pos].id }}
{% endfor %}
{% if superuser %}
    👥 Пользователи | callback_data=admin:list_users:0
{% endif %}
🔍 Поиск музыки | switch_inline_query_current_chat=
{{ STR_REFRESH }} | callback_data=main
