{% if song is none %}
🚫 Не удалось загрузить информацию о песне
Возможно, она была удалена или уже запущена
{% else %}
🎵 {{ song.full_title() }}

Длительность: {{ song.duration | format_duration }}
Место в очереди: {{ global_position }} (может измениться)
{% endif %}
